@tailwind base;
@tailwind components;
@tailwind utilities;

/* navigation.blade.php */
.nav{
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    align-items: center;
}
.links{
    display: flex;
    align-items: center;
    
}
.homeLink{
    margin-right: 700px;
}
.homeLink a:hover{
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid whitesmoke;
}
.loginButton{
    text-decoration: none;
    color: whitesmoke;
    /* border: 2px solid #17468b;
    border-radius: 5px;
    padding: 3px; */
}
a.loginButton:hover{
    color: whitesmoke;
}
.projectlinks a:hover{
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid whitesmoke;
}

/* post index */
.title{
    color: whitesmoke;
    position: absolute;
}
.title h1{
    margin-bottom: 60px;
}
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.intro img{
    margin-left: 400px;
    width: 1300px;
    /* max-height: 300; */
    
}
.projectsButton{
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    color: #17468b;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 40px whitesmoke;


}
a.projectsButton:hover{
    color: #17468b;
}
.projectButton{
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    color: #17468b;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 40px whitesmoke;
    margin-top: 40px;
}
a.projectButton:hover{
    color: #17468b;
}
.header{
    margin-top: 80px;
}
.modal {
    width: 500px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
  }
.aboutMeImg{
    border: 1px solid #272627;
    background-color: #272627;
    border-radius: 8px;
    margin-right: 170px;
    box-shadow: 0 0 40px #272627;

}
.aboutMe{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}
.aboutMeText{
    color: whitesmoke;
}
.aboutMeLink{
    color: #17468b;
    font-size: 35px;
    font-weight: bolder;

}
a.aboutMeLink:hover{
    color: #17468b;
}
.footer{
    background-color: #888990;
}
.footerLinks{
    display: flex;
    flex-direction: column;
}

/* over mij pagina */
.aboutMeTitle{
    margin-top: 40px;
    color: whitesmoke;
}
.backgroundImage{
    background-image: url('../../assets/img/background.jpg');
}
.aboutMeSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.aboutMeSection p{
    color: whitesmoke;
}
.gym{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.gymImg{
    border: 1px solid #eb723b;
    background-color: #eb723b;
    border-radius: 8px;
    box-shadow: 0 0 30px #eb723b;
    
}
.gymtext h2{
    color: #eb723b;
}
.workimg2{
    background-color: #ba8522;
    border: 1px solid #ba8522;
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0 0 30px #ba8522;
}
.workImg{ 
    margin-left: 152px;
    width: 210px;
    border-bottom-right-radius: 8px;
}
.worktext h2{
    color: #ba8522;
}
.aldiImg1{
    background-color: #ec827e;
    border: 1px solid #ec827e;
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0 0 30px #ec827e;

}
.aldiImg{
    width: 203px;
    border-bottom-right-radius: 8px;
    margin-left: 159px;
}
.alditext h2{
    color: #ec827e;
}
.video{
    margin-top: 29px;
    border: 1px solid #272627;
    border-radius: 8px;
    background-color: #272627;
    width: 375px;
    padding: 3px;
}
.makingVideosText h2{
    color: #272627;
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: opx;
    width: 100vw;
    height: 100vw;
    z-index: 1;
    display: none;

}
.popup .content{
    margin-top: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(0);
    background-color: whitesmoke;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.popup.close{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay{
    display: block;

}
.popup.active .content{
    transition: all 300ms ease-in-out;
    transform:translate(-50%, -50%) scale(1);
}
.back{
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: #17468b;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 3px;
    box-shadow: 0 0 10px whitesmoke;
    margin-top: 40px;
    margin-bottom: 10px;
}
.submit{
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: #17468b;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 3px;
    box-shadow: 0 0 10px whitesmoke;
    margin-left: 15px;
}
.form-group{
    color: whitesmoke;
}

/* contact */
.contactTitle{
    margin-top: 70px;
    color: whitesmoke;
    font-weight: bolder;
    margin-bottom: 50px;
}
.form{
    display: flex;
    justify-content: center;

}
.contactForm{
    border: 2px solid #272627;
    border-radius: 8px;
    box-shadow: 0 0 40px #272627;
}
.contactForm-group{
    margin-right: 50px;
    color: whitesmoke;
    margin-top: 40px;
}
#name{
    width: 300px;
}
#email{
    width: 300px;
}
.message{
    margin-left: 205px;
    margin-top: 30px;
}
#message{
    width: 650px;
}
.succes{
    margin-left: 280px;
    color: whitesmoke;
    border: 2px solid #6fbb3f;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px #6fbb3f;
    margin-bottom: 50px;
    width: 500px;
}
.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
    
}
.project-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #272627;
    border-radius: 8px;
    background-color: #272627;
    box-shadow: 0 0 40px #272627;
    width: 500px;
    padding: 20px;
}   
.edit-delete{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .modal-footer {
    background-color: #f5f5f5; /* Pas de achtergrondkleur aan */
    border-top: none; /* Verwijder de bovenste rand */
    text-align: center; /* Centreer de knoppen */
}

/* Als je de knoppen wilt centreren, maar wel zichtbaar wilt maken */
.modal-footer button {
    margin: 0 auto; /* Centreer de knoppen horizontaal */
}
.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5); /* Achtergrondkleur van de knoppen */
    width: 10%; /* Breedte van het knopgebied aan de zijkant van de afbeelding */
}

/* Stijl voor de pijlen op de "Vorige" en "Volgende" knoppen */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #fff; /* Kleur van de pijlen */
    color: #000; /* Kleur van de pijlen */
    border-radius: 50%; /* Maakt de pijlen rond */
    font-size: 24px; /* Grootte van de pijlen */
    padding: 15px; /* Ruimte binnen de knoppen voor de pijlen */
}